<div class="toolbar">
    <h1 mat-dialog-title>
        Accounting Entry ändern
    </h1>
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div class="loading" *ngIf="!accountingEntryUpdateForm">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="50"></mat-progress-spinner>
    </div>
    <div class="accounting-entry-update-dialog" *ngIf="accountingEntryUpdateForm">
        <form [formGroup]="accountingEntryUpdateForm">
            <search-dropdown [formGroupInstance]="accountingEntryUpdateForm"
                [formControlNameInstance]="'categoryId'" label="Category" idExpr="id" displayExpr="bezeichnung"
                required="true" [dataSource]="categoryDataSource" [initialItem]="selectedCategory">
            </search-dropdown>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Auftragskonto</mat-label>
                <input matInput formControlName="auftragskonto" required="true" maxlength="30" placeholder="Auftragskonto">
                <mat-hint *ngIf="accountingEntryUpdateForm.controls.auftragskonto.value" [align]="'end'">
                    {{accountingEntryUpdateForm.controls.auftragskonto.value.length}} / 30
                </mat-hint>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.auftragskonto.touched && accountingEntryUpdateForm.controls.auftragskonto.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.auftragskonto.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.auftragskonto.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Buchungsdatum</mat-label>
                <input matInput formControlName="buchungsdatum" required="true" placeholder="Buchungsdatum" [matDatepicker]="pickerBuchungsdatum">
                <mat-datepicker-toggle matSuffix [for]="pickerBuchungsdatum"></mat-datepicker-toggle>
                <mat-datepicker #pickerBuchungsdatum></mat-datepicker>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.buchungsdatum.touched && accountingEntryUpdateForm.controls.buchungsdatum.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.buchungsdatum.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.buchungsdatum.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Valuta Datum</mat-label>
                <input matInput formControlName="valutaDatum" required="true" placeholder="Valuta Datum" [matDatepicker]="pickerValutaDatum">
                <mat-datepicker-toggle matSuffix [for]="pickerValutaDatum"></mat-datepicker-toggle>
                <mat-datepicker #pickerValutaDatum></mat-datepicker>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.valutaDatum.touched && accountingEntryUpdateForm.controls.valutaDatum.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.valutaDatum.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.valutaDatum.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Buchungstext</mat-label>
                <input matInput formControlName="buchungstext" required="true" maxlength="300" placeholder="Buchungstext">
                <mat-hint *ngIf="accountingEntryUpdateForm.controls.buchungstext.value" [align]="'end'">
                    {{accountingEntryUpdateForm.controls.buchungstext.value.length}} / 300
                </mat-hint>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.buchungstext.touched && accountingEntryUpdateForm.controls.buchungstext.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.buchungstext.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.buchungstext.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Verwendungszweck</mat-label>
                <input matInput formControlName="verwendungszweck" required="true" maxlength="300" placeholder="Verwendungszweck">
                <mat-hint *ngIf="accountingEntryUpdateForm.controls.verwendungszweck.value" [align]="'end'">
                    {{accountingEntryUpdateForm.controls.verwendungszweck.value.length}} / 300
                </mat-hint>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.verwendungszweck.touched && accountingEntryUpdateForm.controls.verwendungszweck.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.verwendungszweck.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.verwendungszweck.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Gläubiger Id</mat-label>
                <input matInput formControlName="glaeubigerId" required="true" maxlength="100" placeholder="Gläubiger Id">
                <mat-hint *ngIf="accountingEntryUpdateForm.controls.glaeubigerId.value" [align]="'end'">
                    {{accountingEntryUpdateForm.controls.glaeubigerId.value.length}} / 100
                </mat-hint>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.glaeubigerId.touched && accountingEntryUpdateForm.controls.glaeubigerId.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.glaeubigerId.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.glaeubigerId.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Mandatsreferenz</mat-label>
                <input matInput formControlName="mandatsreferenz" required="true" maxlength="100" placeholder="Mandatsreferenz">
                <mat-hint *ngIf="accountingEntryUpdateForm.controls.mandatsreferenz.value" [align]="'end'">
                    {{accountingEntryUpdateForm.controls.mandatsreferenz.value.length}} / 100
                </mat-hint>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.mandatsreferenz.touched && accountingEntryUpdateForm.controls.mandatsreferenz.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.mandatsreferenz.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.mandatsreferenz.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Sammlerreferenz</mat-label>
                <input matInput formControlName="sammlerreferenz" required="true" maxlength="100" placeholder="Sammlerreferenz">
                <mat-hint *ngIf="accountingEntryUpdateForm.controls.sammlerreferenz.value" [align]="'end'">
                    {{accountingEntryUpdateForm.controls.sammlerreferenz.value.length}} / 100
                </mat-hint>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.sammlerreferenz.touched && accountingEntryUpdateForm.controls.sammlerreferenz.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.sammlerreferenz.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.sammlerreferenz.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Lastschrift Ursprungsbetrag</mat-label>
                <input matInput formControlName="lastschriftUrsprungsbetrag" type="number" required="true" placeholder="Lastschrift Ursprungsbetrag">
                <mat-error *ngIf="accountingEntryUpdateForm.controls.lastschriftUrsprungsbetrag.touched && accountingEntryUpdateForm.controls.lastschriftUrsprungsbetrag.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.lastschriftUrsprungsbetrag.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.lastschriftUrsprungsbetrag.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Auslagenersatz Rücklastschrift</mat-label>
                <input matInput formControlName="auslagenersatzRuecklastschrift" required="true" maxlength="100" placeholder="Auslagenersatz Rücklastschrift">
                <mat-hint *ngIf="accountingEntryUpdateForm.controls.auslagenersatzRuecklastschrift.value" [align]="'end'">
                    {{accountingEntryUpdateForm.controls.auslagenersatzRuecklastschrift.value.length}} / 100
                </mat-hint>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.auslagenersatzRuecklastschrift.touched && accountingEntryUpdateForm.controls.auslagenersatzRuecklastschrift.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.auslagenersatzRuecklastschrift.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.auslagenersatzRuecklastschrift.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Begünstigter</mat-label>
                <input matInput formControlName="beguenstigter" required="true" maxlength="200" placeholder="Begünstigter">
                <mat-hint *ngIf="accountingEntryUpdateForm.controls.beguenstigter.value" [align]="'end'">
                    {{accountingEntryUpdateForm.controls.beguenstigter.value.length}} / 200
                </mat-hint>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.beguenstigter.touched && accountingEntryUpdateForm.controls.beguenstigter.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.beguenstigter.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.beguenstigter.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>I B A N</mat-label>
                <input matInput formControlName="iBAN" required="true" maxlength="22" placeholder="I B A N">
                <mat-hint *ngIf="accountingEntryUpdateForm.controls.iBAN.value" [align]="'end'">
                    {{accountingEntryUpdateForm.controls.iBAN.value.length}} / 22
                </mat-hint>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.iBAN.touched && accountingEntryUpdateForm.controls.iBAN.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.iBAN.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.iBAN.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>B I C</mat-label>
                <input matInput formControlName="bIC" required="true" maxlength="15" placeholder="B I C">
                <mat-hint *ngIf="accountingEntryUpdateForm.controls.bIC.value" [align]="'end'">
                    {{accountingEntryUpdateForm.controls.bIC.value.length}} / 15
                </mat-hint>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.bIC.touched && accountingEntryUpdateForm.controls.bIC.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.bIC.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.bIC.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Betrag</mat-label>
                <input matInput formControlName="betrag" type="number" required="true" placeholder="Betrag">
                <mat-error *ngIf="accountingEntryUpdateForm.controls.betrag.touched && accountingEntryUpdateForm.controls.betrag.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.betrag.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.betrag.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Währung</mat-label>
                <input matInput formControlName="waehrung" required="true" maxlength="10" placeholder="Währung">
                <mat-hint *ngIf="accountingEntryUpdateForm.controls.waehrung.value" [align]="'end'">
                    {{accountingEntryUpdateForm.controls.waehrung.value.length}} / 10
                </mat-hint>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.waehrung.touched && accountingEntryUpdateForm.controls.waehrung.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.waehrung.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.waehrung.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Info</mat-label>
                <input matInput formControlName="info" required="true" maxlength="100" placeholder="Info">
                <mat-hint *ngIf="accountingEntryUpdateForm.controls.info.value" [align]="'end'">
                    {{accountingEntryUpdateForm.controls.info.value.length}} / 100
                </mat-hint>
                <mat-error *ngIf="accountingEntryUpdateForm.controls.info.touched && accountingEntryUpdateForm.controls.info.invalid">
                    <span *ngIf="accountingEntryUpdateForm.controls.info.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="accountingEntryUpdateForm.controls.info.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <div class="buttons">
        <button mat-flat-button color="primary" (click)="onUpdateClicked()" [disabled]="!accountingEntryUpdateForm"
            [attr.aria-disabled]="!accountingEntryUpdateForm">
            <mat-icon class="mat-icon-button-fix">save</mat-icon>
            Speichern
        </button>

        <button mat-flat-button [mat-dialog-close]="false">
            Abbrechen
        </button>
    </div>
</mat-dialog-actions>