.member-of-component {
    padding-top: 8px;
    height: calc(100% - 8px);

    .toolbar {
        display: grid;
        grid-template-columns: auto min-content;
        grid-template-rows: 50px min-content;

        h1 {
            display: block;
            margin: 0;
            font-size: 1.5em;
        }

        button {
            height: min-content;
        }
    }

    .table-container {
        height: calc(100% - 100px);
        overflow: auto;

        table {
            width: 100%;
        }

        .mat-row {
            transition: background-color 0.1s ease-in-out;

            &:hover {
                background-color: #ebebeb;
            }
        }

        .name-container {
            display: grid;

            grid-template-columns: min-content auto;
            gap: 12px;
            align-items: center;

            .row-icon {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                overflow: hidden;
                background-color: var(--bg-color);
    
                img {
                    margin: 8px;
                    max-width: 20px;
                    max-height: 20px;
                }
            }
        }

        .notFound {
            height: calc(100% - 50px);
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            
            img {
                height: 100px;
            }
        }
    }
}