<div class="page">
    <div class="box">
        <h1>Passwort zurücksetzen</h1>

        <div class="error-message" *ngIf="errorMessage && errorMessage.length > 0">
            {{errorMessage}}
        </div>
        <form [formGroup]="formGroup">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Neues Passwort</mat-label>
                <input matInput required="true" type="password" maxlength="64" placeholder="Neues Passwort"
                    formControlName="password" (keyup)="updateValueAndValidityOfPassword2()">
                <mat-error *ngIf="formGroup.controls.password.touched && formGroup.controls.password.invalid">
                    <span *ngIf="formGroup.controls.password.errors.required">Dieses Feld ist erforderlich.</span>
                    <span *ngIf="formGroup.controls.password.errors.pattern">
                        Passwortrichtlinien beachten
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Neues Passwort wiederholen</mat-label>
                <input matInput required="true" type="password" maxlength="64" placeholder="Neues Passwort wiederholen"
                    formControlName="password2">
                <mat-error *ngIf="formGroup.controls.password2.touched && formGroup.controls.password2.invalid">
                    <span *ngIf="formGroup.controls.password2.errors.required">Dieses Feld ist erforderlich.</span>
                    <span *ngIf="formGroup.controls.password2.errors.equal && !formGroup.controls.password2.errors.required">
                        Die neuen Passwörter stimmen nicht überein.
                    </span>
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="onSubmitButtonClicked()"
                [disabled]="submitted || !formGroup.valid" [attr.aria-disabled]="submitted || formGroup.valid">
                {{ !submitted ? 'Passwort zurücksetzen' : 'Passwort zurücksetzen...'}}
            </button>
        </form>

    </div>
</div>