<div class="admin-user-group-detail-page" *ngIf="adminUserGroup">
    <div class="toolbar">
        <h1 class="no-wrap">Gruppe: {{adminUserGroup.name}}</h1>
        <button mat-flat-button (click)="onBackClicked()">
            Zurück
        </button>
        <button mat-flat-button color="primary" class="save-button" (click)="onUpdateClicked()">
            <mat-icon class="mat-icon-button-fix">drive_file_rename_outline</mat-icon>
            Umbenennen
        </button>
        <button mat-flat-button color="warn" class="save-button" (click)="onDeleteClicked()">
            <mat-icon class="mat-icon-button-fix">delete</mat-icon>
            Löschen
        </button>
    </div>

    <mat-tab-group mat-align-tabs="start">

        <mat-tab label="Details">
            <h3>Stammdaten:</h3>
            <p [attr.aria-label]="'Gruppe: ' + adminUserGroup.name">
                <span style="font-size: 0.8em;" aria-hidden="true">Name:</span>
                <br>
                <span aria-hidden="true" class="no-wrap">{{adminUserGroup.name}}</span>
            </p>

            <h3>Berechnete Berechtigungen:</h3>
            <app-permissions-display [permissions]="adminUserGroup.calculatedPermissions"></app-permissions-display>
        </mat-tab>

        <mat-tab label="Berechtigungen">
            <app-permissions [userType]="userType" [id]="adminUserGroupId" [permissions]="adminUserGroup.permissions"
                (permissionsUpdated)="loadAdminUserGroup()">
            </app-permissions>
        </mat-tab>

        <mat-tab label="Mitglied von">
            <app-member-of [myAdminUserGroups]="adminUserGroup.parentAdminUserGroups" [myId]="adminUserGroupId" [userType]="userType"
                (memberUpdate)="loadAdminUserGroup()"></app-member-of>
        </mat-tab>

        <mat-tab label="Mitglieder">
            <app-members [adminEmailUserMembers]="adminUserGroup.adminEmailUserMembers" [adminUserGroupMembers]="adminUserGroup.adminUserGroupMembers"
                [adminAdUserMembers]="adminUserGroup.adminAdUserMembers" [adminAdGroupMembers]="adminUserGroup.adminAdGroupMembers"
                [contextAdminUserGroup]="adminUserGroup" (update)="loadAdminUserGroup()">
            </app-members>
        </mat-tab>

    </mat-tab-group>
</div>