<div class="toolbar">
    <h1 mat-dialog-title>
        Kategorie erstellen
    </h1>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div class="category-create-dialog" *ngIf="categoryCreateForm">
        <form [formGroup]="categoryCreateForm">

            <search-dropdown [formGroupInstance]="categoryCreateForm" [formControlNameInstance]="'superCategoryId'"
                label="Übergeordnete Kategorie" idExpr="id" displayExpr="title"
                [dataSource]="superCategoryDataSource"></search-dropdown>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Bezeichnung</mat-label>
                <input matInput formControlName="title" required="true" maxlength="200" placeholder="z.B. Wocheneinkauf">
                <mat-hint [align]="'end'">{{categoryCreateForm.controls.title.value.length}} / 200</mat-hint>
                <mat-error
                    *ngIf="categoryCreateForm.controls.title.touched && categoryCreateForm.controls.title.invalid">
                    <span *ngIf="categoryCreateForm.controls.title.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="categoryCreateForm.controls.title.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Farbcode (Hexcode)</mat-label>
                <input matInput formControlName="color" required="true" maxlength="30" placeholder="#000000">
                <mat-hint [align]="'end'">{{categoryCreateForm.controls.color.value.length}} / 30</mat-hint>
                <mat-error
                    *ngIf="categoryCreateForm.controls.color.touched && categoryCreateForm.controls.color.invalid">
                    <span *ngIf="categoryCreateForm.controls.color.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="categoryCreateForm.controls.color.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <div class="buttons">
        <button mat-flat-button color="primary" (click)="onCreateClicked()">
            <mat-icon class="mat-icon-button-fix">add</mat-icon>
            Erstellen
        </button>

        <button mat-flat-button mat-dialog-close>
            Abbrechen
        </button>
    </div>
</mat-dialog-actions>