<div class="toolbar">
    <h1 mat-dialog-title>
        Start Saldo ändern
    </h1>
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div class="loading" *ngIf="!startSaldoUpdateForm">
        <mat-progress-spinner color="primary" mode="indeterminate" diameter="50"></mat-progress-spinner>
    </div>
    <div class="start-saldo-update-dialog" *ngIf="startSaldoUpdateForm">
        <form [formGroup]="startSaldoUpdateForm">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Betrag</mat-label>
                <input matInput formControlName="betrag" type="number" required="true" placeholder="Betrag">
                <mat-error *ngIf="startSaldoUpdateForm.controls.betrag.touched && startSaldoUpdateForm.controls.betrag.invalid">
                    <span *ngIf="startSaldoUpdateForm.controls.betrag.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="startSaldoUpdateForm.controls.betrag.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Datum Am</mat-label>
                <input matInput formControlName="datumAm" required="true" placeholder="Datum Am" [matDatepicker]="pickerDatumAm">
                <mat-datepicker-toggle matSuffix [for]="pickerDatumAm"></mat-datepicker-toggle>
                <mat-datepicker #pickerDatumAm></mat-datepicker>
                <mat-error *ngIf="startSaldoUpdateForm.controls.datumAm.touched && startSaldoUpdateForm.controls.datumAm.invalid">
                    <span *ngIf="startSaldoUpdateForm.controls.datumAm.errors.required">
                        Dieses Feld ist erforderlich.
                    </span>
                    <span *ngIf="startSaldoUpdateForm.controls.datumAm.errors.pattern">
                        Dieses Feld ist ungültig.
                    </span>
                </mat-error>
            </mat-form-field>

        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <div class="buttons">
        <button mat-flat-button color="primary" (click)="onUpdateClicked()" [disabled]="!startSaldoUpdateForm"
            [attr.aria-disabled]="!startSaldoUpdateForm">
            <mat-icon class="mat-icon-button-fix">save</mat-icon>
            Speichern
        </button>

        <button mat-flat-button [mat-dialog-close]="false">
            Abbrechen
        </button>
    </div>
</mat-dialog-actions>