<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets async="true">
    <target name="Console" xsi:type="Console" layout="${date:universalTime=true} - ${level} - ${machinename} - ${logger} - ${callsite} - ${aspnet-request-ip} - ${message} - ${aspnet-user-identity:tostring} - ${mdlc:mandantId} - ${exception:tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="console" />
  </rules>
</nlog>