.page {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;

    .box {
        text-align: center;
        background: white;
        width: 300px;
        border-radius: 6px;
        padding: 0 16px;
        margin-bottom: 64px;
        border: gainsboro 1px solid;
        box-shadow: 2px 4px 8px 0 #00000022;

        mat-form-field {
            width: 280px;
        }

        button {
            width: 50%;
            margin-bottom: 32px;
        }
    }
}
