<div class="page">
    <div class="box">
        <h1>Passwort vergessen</h1>

        <form [formGroup]="formGroup">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>E-Mail Adresse</mat-label>
                <input matInput required="true" type="email" maxlength="256" placeholder="E-Mail Adresse"
                    formControlName="email">
                <mat-error *ngIf="formGroup.controls.email.touched && formGroup.controls.email.invalid">
                    <span *ngIf="formGroup.controls.email.errors.required">Die E-Mail ist erforderlich.</span>
                    <span *ngIf="formGroup.controls.email.errors.email">Die E-Mail ist ungültig.</span>
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" class="email-login-button" (click)="onSubmitButtonClicked()"
                [disabled]="submitted || !formGroup.valid" [attr.aria-disabled]="submitted || !formGroup.valid">
                {{!submitted ? 'Senden' : 'Gesendet'}}
            </button>
        </form>
    </div>
</div>