[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1802: Use literals where appropriate
dotnet_diagnostic.CA1802.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = true:none

# IDE0066: Convert switch statement to expression
csharp_style_prefer_switch_expression = true:none

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none
