<div class='loader' [style.--widthall]="widthAll" [style.--widthprong]="widthProng">
    <div class='prong'>
      <div class='inner'></div>
    </div>
    <div class='prong'>
      <div class='inner'></div>
    </div>
    <div class='prong'>
      <div class='inner'></div>
    </div>
    <div class='prong'>
      <div class='inner'></div>
    </div>
    <div class='prong'>
      <div class='inner'></div>
    </div>
    <div class='prong'>
      <div class='inner'></div>
    </div>
    <div class='prong'>
      <div class='inner'></div>
    </div>
    <div class='prong'>
      <div class='inner'></div>
    </div>
    <div class='prong'>
      <div class='inner'></div>
    </div>
    <div class='prong'>
      <div class='inner'></div>
    </div>
    <div class='prong'>
      <div class='inner'></div>
    </div>
    <div class='prong'>
      <div class='inner'></div>
    </div>
  </div>
  