.page {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;

    .box {
        text-align: center;
        background: white;
        width: 300px;
        border-radius: 6px;
        padding: 0 16px;
        margin-bottom: 64px;
        border: gainsboro 1px solid;
        box-shadow: 2px 4px 8px 0 #00000022;

        .error-message {
            padding: 8px;
            margin-bottom: 24px;
            width: calc(100% - 16px);
            text-align: center;
            color: white;
            font-weight: 500;
            background-color: #f44336;
            border-radius: 8px;
        }

        mat-form-field {
            width: 280px;
        }

        .email-login-button {
            width: 50%;
        }

        a {
            margin-top: 10px;
        }

        .admin-ad-login-button {
            margin: 16px 0 24px 0;
        }
    }
}
