<div class="page">
    <div class="box">
        <h1>Loginbereich</h1>

        <div class="error-message" *ngIf="errorMessage">
            {{errorMessage}}
        </div>

        <form [formGroup]="formGroup">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>E-Mail Adresse</mat-label>
                <input matInput required="true" type="email" maxlength="256" placeholder="E-Mail Adresse"
                    formControlName="email">
                <mat-error *ngIf="formGroup.controls.email.touched && formGroup.controls.email.invalid">
                    <span *ngIf="formGroup.controls.email.errors.email">Die E-Mail ist ungültig.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>Passwort</mat-label>
                <input matInput required="true" type="password" maxlength="64" placeholder="Passwort"
                    formControlName="passwort">
            </mat-form-field>

            <button mat-raised-button color="primary" class="email-login-button" (click)="onLoginButtonClicked()"
                [disabled]="isLoggingIn || !formGroup.valid"
                [attr.aria-disabled]="isLoggingIn || formGroup.valid">Anmelden</button>
        </form>

        <a mat-button routerLink="/login/forgot-password">Passwort vergessen?</a>

        <br aria-hidden="true">
        <hr aria-hidden="true">

        <button mat-stroked-button color="primary" class="admin-ad-login-button" (click)="onAdminAdLoginButtonClicked()"
            [disabled]="isLoggingIn">
            Mit Active Directory anmelden
        </button>
    </div>

</div>