<div class="gridcontainer">
  <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">

  <div class="spinner">
    <div *ngIf="inProgress">
      <mat-progress-spinner color="primary" mode="indeterminate" diameter="30"></mat-progress-spinner>
    </div>
  </div>

  <div class="button">
    <button mat-flat-button color="primary" (click)="file.click()">
      <mat-icon class="mat-icon-button-fix">add</mat-icon>
      CSV einlesen
    </button>
  </div>
</div>