<mat-dialog-content>
    <h2 *ngIf="!isUpdating">E-Mail Benutzer erstellen</h2>
    <h2 *ngIf="isUpdating">E-Mail Adresse ändern</h2>

    <form [formGroup]="formGroup">
        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>E-Mail Adresse</mat-label>
            <input matInput required="true" maxlength="256" placeholder="E-Mail Adresse" formControlName="email">
            <mat-hint [align]="'end'">{{formGroup.controls.email.value.length}} / 256</mat-hint>
            <mat-error *ngIf="formGroup.controls.email.touched && formGroup.controls.email.invalid">
                <span *ngIf="formGroup.controls.email.errors.required">Dieses Feld ist erforderlich.</span>
                <span *ngIf="formGroup.controls.email.errors.email">Die E-Mail Adresse ist ungültig.</span>
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions [attr.align]="'center'">
    <button mat-raised-button color="primary" (click)="onConfirmClick()">
        <span *ngIf="!isUpdating">Erstellen</span>
        <span *ngIf="isUpdating">Ändern</span>
    </button>
    <button mat-button mat-dialog-close>
        Abbrechen
    </button>
</mat-dialog-actions>