$primary-color: #003671;
$primary-color-2: #355188;
$primary-color-3: #6374a4;
$primary-color-4: #adb5d2;
$primary-color-5: #c6cbe0;
$primary-color-6: #e2e4f0;
$primary-color-darker: #001e3e;

$secondary-color: #f49800;
$secondary-color-2: #f8ad41;
$secondary-color-3: #fac175;
$secondary-color-4: #fdd7a5;
$secondary-color-5: #feecd4;
$secondary-color-6: #fef4e9;

$tertiary-color: #0097d7;
$tertiary-color-2: #44aae1;
$tertiary-color-3: #84bfe9;
$tertiary-color-4: #b2d4f1;
$tertiary-color-5: #daeaf9;
$tertiary-color-6: #ecf4fc;
